<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
  	<div id="page_wrapper">
  		<div id="profile_image">
  			<%= image_tag "profile.jpeg" %>
  		</div>
  		<div id="content">
  			<h1>It's Mr. Stick Figure</h1>
  			<p>Coffee is a brewed drink prepared from roasted coffee beans, which are the seeds of berries from the Coffea plant. The genus Coffea is native to tropical Africa (specifically having its origin in Ethiopia and Sudan) and Madagascar, the Comoros, Mauritius, and Réunion in the Indian Ocean.[2] The plant was exported from Africa to countries around the world. Coffee plants are now cultivated in over 70 countries, primarily in the equatorial regions of the Americas, Southeast Asia, India, and Africa. The two most commonly grown are arabica and robusta. Once ripe, coffee berries are picked, processed, and dried. Dried coffee seeds (referred to as beans) are roasted to varying degrees, depending on the desired flavor. Roasted beans are ground and brewed with near-boiling water to produce coffee as a beverage.
						Coffee is slightly acidic and has a stimulating effect in humans.[medical citation needed] Coffee is one of the most popular drinks in the world.[3] It can be prepared and presented in a variety of ways (e.g., espresso, French press, café latte, etc.). It is usually served hot, although iced coffee is a popular alternative. Clinical studies indicate that moderate coffee consumption is benign or mildly beneficial in healthy adults, with continuing research on whether long-term consumption lowers the risk of some diseases, although there is generally poor quality of such studies.[4]
						A cup of coffee with added milk
						The earliest credible evidence of coffee-drinking appears in Yemen in southern Arabia in the middle of the 15th century in Sufi shrines.[5] It was here in Arabia that coffee seeds were first roasted and brewed in a similar way to how it is now prepared. Coffee seeds were first exported from East Africa to Yemen, as the Coffea arabica plant is thought to have been indigenous to the former.[6] Yemeni traders took coffee back to their homeland and began to cultivate the seed. By the 16th century, it had reached Persia, Turkey, and North Africa. From there, it spread to Europe and the rest of the world.
						Brazil is the leading grower of coffee, producing one-third of the world total in 2016. Coffee is a major export commodity: it is the top agricultural export for numerous countries and is among the world's largest legal agricultural exports.[3][7][not in citation given] It is one of the most valuable commodities exported by developing countries. Green (unroasted) coffee is one of the most traded agricultural commodities in the world.[8] Some controversy is associated with coffee cultivation and the way developed countries trade with developing nations and the impact of its cultivation on the environment, in regards to the clearing of land for coffee-growing and water use. Consequently, the markets for fair trade coffee and organic coffee are expanding.[citation needed]
				</p>
  		</div>
  	</div>
  </body>
</html>